$blue: #3366cc;
$light-blue: #5d7fc2;
.KhoaHoc {
  padding: 20px 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 1px lightgray;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    // background: rgb(210, 222, 226);
    box-shadow: 0px 0px 5px gray;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
  }

  

  section {
    border-top: 1px solid lightgray;
    padding-top: 10px;
  }

  &Left {

  }

  &Right {

  }
}

.Link {
  display: inline-block;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 13px;
  background: sandybrown;
  color: white;
  transition: all 0.3s;
  text-decoration: none;
  margin-top: 10px;
  &:hover {
    background: rgb(210, 222, 226);
    color: #333;
  }
}

.ShowDetail {
  // height: 100px;
}

.Companies {
  font-size: 12px;
}

.Company {
  padding: 5px;
  margin-right: 5px;
  background: $blue;
  box-shadow: 0px 0px 1px $blue;
  color: white;
  border-radius: 4px;
  transition: all 0.3s;
  &:hover {
    background: $light-blue;
  }
}

.Title {
  font-weight: 600;
  font-size: 18px;
}

.KhoaHocDetailHeader {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.Courses {
  
}